.Aps {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
 
  
  .nav1 {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .img{
    width: 250px; 
    height: 250px;
    object-fit: cover;
    margin: 0 10px;
  }
  