.Aps {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .App-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust height based on header size */
    background-color: #f5f5f5;
  }
  
  .photo-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  
  .photo {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    object-fit: cover;
    margin: 0 10px;
  }
  