.Aps {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
 
  
  

  .img{
    width: 250px; 
    height: 250px;
    object-fit: cover;
    margin: 0 10px;
    margin-top: 150px;
      
   
}
  
.ogp{
    display: flex;
    justify-content: center;
    margin-left: 500px;

}