.navl{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}
.ull{
    display: flex;
    gap: 50px;
    align-items: center;
}
.lil{
    text-decoration: none;
}
.al{
    color:gray;
    text-decoration: none;
    font-size: 20px;
}
.aa{
    color: white;
}
.imgl{
    width: 150px;
    height: 50px;
}
.buttonl{
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
}
